.navbar {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.navbar span {
  cursor: pointer;
  margin-top: 0.5rem;
  font-size: 25px;
}

.login-container,
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-container input,
.register-container input {
  width: 25%;
  margin-top: 2rem;
}

.submit-button {
  display: flex;
  justify-content: left !important;
  align-items: left;
  margin-top: 0.75rem;
}
